<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>301307456799-c5sh0t1c0uriiht9vth4bf4d3c3hpqko.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.301307456799-c5sh0t1c0uriiht9vth4bf4d3c3hpqko</string>
	<key>API_KEY</key>
	<string>AIzaSyAGhf-MDFhV4ttdtj8vbhg2hKQ3yVa1YZw</string>
	<key>GCM_SENDER_ID</key>
	<string>301307456799</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>xnotion.vplay</string>
	<key>PROJECT_ID</key>
	<string>vplay-3ab8d</string>
	<key>STORAGE_BUCKET</key>
	<string>vplay-3ab8d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:301307456799:ios:15c05701c1fe8335</string>
	<key>DATABASE_URL</key>
	<string>https://vplay-3ab8d.firebaseio.com</string>
</dict>
</plist>